*{
    cursor: url(Cursor/guante1.png),pointer;
}

br {
    cursor: url(Cursor/guante1.png),pointer;
}

h1.titulo{
    font-family: 'SF Distant Galaxy', sans-serif;
    font-style: italic;
    src: url('http://fonts.cdnfonts.com/css/sf-distant-galaxy');
    font-size: 50px;

    text-align: center;
    color: rgb(249, 247, 247);
    cursor: url(Cursor/guante1.png),pointer;
}

h1 {
    font-family: 'SF Distant Galaxy', sans-serif;
    font-style: italic;
    src: url('http://fonts.cdnfonts.com/css/sf-distant-galaxy');
    font-size: 30px;
    margin-left: 20px;
    color: rgb(249, 247, 247);
    cursor: url(Cursor/guante1.png),pointer;
}

.menu {
	display: flex; /**/
    cursor: url(Cursor/guante1.png),pointer;
}

.menu p {
	margin-right: 2rem; /*A cada elemento del menú le ponemos un margen a la derecha*/
    cursor: url(Cursor/guante1.png),pointer;
}

.content {
	margin-top: 2rem;
    cursor: url(Cursor/guante1.png),pointer;
}

[data-content] {
	display: none; /*Escondemos todos los elementos que sean tengan "data-content*/
    cursor: url(Cursor/guante1.png),pointer;
}

.active[data-content] { /*Los elementos que tengan la clase active y ademas sean de "data-content* tendrán display de tipo block*/
	display: block;
    cursor: url(Cursor/guante1.png),pointer;
}

.resumen, .planificacion, .problemas, .tecnicas, .puntosFuertes{
    font-family: 'SF Distant Galaxy', sans-serif;
    font-style: italic;
    src: url('http://fonts.cdnfonts.com/css/sf-distant-galaxy');
    font-size: 20px;
    color: rgb(249, 247, 247);
    margin-left: 20px;
    cursor: url(Cursor/guante1.png),pointer;
}

.resumen:hover, .planificacion:hover, .problemas:hover, .tecnicas:hover, .puntosFuertes:hover{
    color: rgb(252, 159, 232);
    font-size: 21px;
    cursor: url(Cursor/guante2.png),pointer;
}

p.contenidoResumen {
    color: rgb(213, 213, 213);
    margin-left: 20px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 25px;
    cursor: url(Cursor/guante1.png),pointer;
}

p.plan {
    color: rgb(213, 213, 213);
    margin-left: 20px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    cursor: url(Cursor/guante1.png),pointer;
}

p.contenidoProblemas {
    color: rgb(213, 213, 213);
    margin-left: 20px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 25px;
    cursor: url(Cursor/guante1.png),pointer;
}

p.contenidoTecnicas {
    color: rgb(213, 213, 213);
    margin-left: 20px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 25px;
    cursor: url(Cursor/guante1.png),pointer;
}

p.contenidoPuntosFuertes {
    color: rgb(213, 213, 213);
    margin-left: 20px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 25px;
    cursor: url(Cursor/guante1.png),pointer;
}


body {
    cursor: default;
    padding: 5%; /*Para que el contenido no esté totalmente pegado a la esquina*/
    background-image: url("Fondos/pi.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    cursor: url(Cursor/guante1.png),pointer;
}

.volverAtras {
    background-color: rgb(184, 179, 179);
    border-width: 3px;
    border-color: black;
    font-family: 'SF Distant Galaxy', sans-serif;
    cursor: url(Cursor/guante2.png),pointer;
}

/* .botonCorreo {
    position: absolute;
    bottom: 100px;
    left: 325px;
    font-size: 18px;
} */

.volverAtras {
    position: absolute;
    top: 250px;
    right: 100px;
    font-size: 20px;
    cursor: url(Cursor/guante2.png),pointer;
}


.volverAtras:hover {
    background-color: rgb(255, 255, 255);
    border-width: 3px;
    border-color: black;
    font-size: 21px;
    font-family: 'SF Distant Galaxy', sans-serif;
    cursor: url(Cursor/guante2.png),pointer;
}
